footer {
    width: 100%;
    padding: 50px 150px;

    flex-flow: column;
    gap: 30px;

    background-color: red;
}

.content {
    width: 100%;

    /* justify-content: space-between;      */
    align-items: flex-start;
    gap: 50px;

    /* background-color: aqua; */
}

.content > .grupoPeres {
    flex-flow: column;
    gap: 10px;
}

.matriz {
    flex-flow: column;
    align-items: flex-start;
    gap: 5px;
}

.container {
    flex-flow: column;
    align-items: flex-start;
    gap: 5px;
}


.content > .servicos > span{
    cursor: pointer;
}



.divisor {
    width: 100%;
    border: 1px solid white;
}

.reservados {
    font-size: small;
}
.reservados > p > span{
    font-weight: bolder;
}