#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 15px var(--default-padding);

    /* background-color: red; */
    transition: background 0.5s ease;
    font-weight: bolder;

    justify-content: space-between;
}



.logo{
    background-color: black;
    padding: 10px;
}

#navbar{
    /* width: 100%; */
    /* background-color: black; */
    font-weight: bolder;
    gap: 10px;
}

#navbar > li{
    padding: 5px 15px;
   
}

#navbar > li:hover{
    cursor: pointer;
    background-color: var(--li-background);
}

#redes-sociais{
    gap: 20px;
    color: yellow;
    font-size: xx-large;
    cursor: pointer;
}