#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 15px var(--default-padding);

    /* background-color: red; */
    transition: background 0.5s ease;
    font-weight: bolder;

    justify-content: space-between;
}



.logo {
    background-color: black;
    padding: 10px;
}

#navbar {
    font-weight: bolder;
    gap: 10px;

    /* position: relative; */
}

#navbar>li {
    padding: 5px 15px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#navbar>li>a {
    color: white;
}

#navbar>li:hover {
    cursor: pointer;
    background-color: var(--li-background);
}

#redes-sociais {
    gap: 20px;
    color: yellow;
    font-size: xx-large;
    cursor: pointer;
}


/* DROPDOWN */

.dropdown {
    display: none;

    width: 200px;
    /* height: 200px; */
    padding: 10px 20px;

    position: absolute;
    top: 35px;
    left: 0;
    z-index: 3;

    flex-flow: column;
    gap: 15px;

    background-color: var(--descricao);

}


.dropdown>li {
    width: 100%;
    padding: 5px 10px;
}


.dropdown>li:hover {
    background-color: rgb(100, 100, 100);
}

.dropdown>li>ion-icon {
    display: none;
}

.dropdown>li:hover>ion-icon {
    display: flex;
}

.dropdown>li>a {
    width: 100%;
    text-align: left;
    color: white;
}

#navbar>li:hover>.dropdown {
    display: flex;
}